:root {
  --mainGoldCrayola: #dbc184;
  --mainViolet: #8113b0;
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainBlue: #bdf2e2;
  --mainMaize: #facd64;
  --mainGrey: rgb(238, 238, 238);
  --mainPink: rgb(250, 128, 149);
}

body {
  /* font-family: "Arvo", serif; */
  font-family: "Montserrat", sans-serif;
  /* font-family: "Cedarville Cursive", cursive; */
  background: var(--mainViolet);
  color: var(--mainBlack);
}

/* global styles */
.text-gold {
  color: var(--mainGoldCrayola) !important;
}
.font-cursive {
  font-family: "Cedarville Cursive", cursive;
}
.btn-pink {
  color: var(--mainPink) !important;
  border-color: var(--mainPink) !important;
}
.btn-pink:hover {
  color: var(--mainBlack) !important;
  background: var(--mainPink) !important;
}
.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}
.btn-black:hover {
  color: var(--mainViolet) !important;
  background: var(--mainGrey) !important;
}
.btn-gold {
  border-color: var(--mainGoldCrayola) !important;
  color: var(--mainGoldCrayola) !important;
  border: 0.1rem solid var(--mainMaize);
  transition: all 0.5s ease-in-out;
}
.btn-gold:hover {
  background: var(--mainViolet);
  border-color: var(--mainViolet);
  color: var(--mainWhite);
  transform: scaleX(1.15) scaleY(1.05);
  transition: all 0.5s ease-in-out;
}
.bg-maize {
  background: var(--mainMaize);
}

.nav-info {
  font-family: "Montserrat", sans-serif;
}

/* #skills {
    padding: 200px 0 !important; 
} */

/* use !important to overwrite premade in bootstrap (py-5) */

#logo {
  /* -webkit-filter: invert(1); 
  filter: invert(1); */
  transition: transform 0.5s ease-in-out;
}
#logo:hover {
  transform: scale(1.12) rotate(-10deg);
  transition: transform 0.5s ease-in-out;
}

.navbar-toggler {
  outline: none !important;
}

.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainGoldCrayola);
}

.nav-link {
  color: var(--mainGoldCrayola);
  font-size: 1.5rem;
  transition: all 0.5s ease;
}
.nav-link:hover {
  color: var(--mainBlue);
  transform: scale(1.05);
}

#shopname {
  color: var(--mainGoldCrayola) !important;
  font-family: "Cedarville Cursive", cursive;
}

/* cart style */
.cart-info__icon {
  cursor: pointer;
}
.cart-info,
.nav-info {
  border: 0.05rem solid var(--mainGoldCrayola);
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  cursor: pointer;
}
.cart-info:hover,
.nav-info:hover {
  color: var(--mainViolet);
  background: var(--mainBlue);
  border-color: var(--mainBlue);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.cart-info:hover .cart-info__icon {
  color: var(--mainGoldCrayola);
}
.nav-info:hover .info-icon {
  color: var(--mainGoldCrayola);
}

.max-height {
  /* min-height: 100vh; */
  min-height: calc(100vh - 76px);
  background: linear-gradient(
      to bottom,
      rgba(34, 18, 36, 0.95),
      rgba(65, 17, 49, 0.7)
    ),
    url("../img/pexels-maria-orlova-4913399.jpg");
  /* Photo by Maria Orlova from Pexels */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.banner-title {
  font-size: 3.5rem;
  color: var(--mainViolet);
}
.banner-title2 {
  font-size: 3.5rem;
  color: var(--mainGoldCrayola);
}
.banner {
  margin-top: -6rem;
}
.banner-link {
  font-size: 1.4rem;
}
/* .banner-link:hover {
  background: var(--mainViolet);
  border-color: var(--mainViolet);
  color: var(--mainWhite);
  transform: scaleX(1.15) scaleY(1.05);
  transition: all 0.5s ease-in-out;
} */
.banner:hover .cake {
  transform: rotate(-10deg) scale(1.1);
  transition: all 0.5s ease-in-out;
}

.cake {
  font-size: 4rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.cake:hover {
  transform: rotate(-10deg) scale(1.1);
  transition: all 0.5s ease-in-out;
}

/* .hand-cake {
  max-width: auto;
  max-height: 10%;
} */
/* About section */
.about-img__container {
  position: relative;
}
.about-img__container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainGoldCrayola);
  z-index: -1;
  opacity: 0.7;
  transition: all 0.7s ease-in-out;
}
.about-img__container:hover:before {
  top: 0;
  left: 0;
}

/* store */
.store {
  background: var(--mainGrey);
}
.search-box {
  background: var(--mainPink);
  color: var(--mainBlack);
}

.single-item {
  transition: all 0.3s linear;
}
.single-item:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.img-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.store-img {
  transition: all 1s ease-in-out;
}

.img-container:hover .store-img {
  transform: scale(1.2);
}

.store-item-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.75rem;
  background: var(--mainPink);
  border-top-left-radius: 0.7 5rem;
  transform: translate(100%, 100%);
  transition: all 1s ease-in-out;
}

.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}

.store-item-icon:hover {
  color: var(--mainWhite);
}

.crop {
  width: auto;
  /* height: 230px; */
  height: 15rem;
  overflow: hidden;
}

.crop img {
  width: 150%;
  margin: -220px 0 -400px -60px;
  height: auto;
}

.ghost {
  opacity: 0;
  z-index: -1;
}
.ghost-img {
  position: absolute;
  top: -50%;
  left: 0;
}

.ghost-img2 {
  position: absolute;
  top: -70%;
  left: 0;
}

.service-icon {
  filter: invert(83%) sepia(25%) saturate(509%) hue-rotate(2deg) brightness(90%)
    contrast(92%);
}

.doughnut-icon {
  transform: scale(0.7);
}

/* services section */
/* Photo by iSAW Company from Pexels */
.services {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url(../img/pexels-isaw-company-1005406.jpg) center/cover fixed no-repeat;
}

.service-title {
  letter-spacing: 0.5rem;
}
.service-text {
  word-spacing: 0.3rem;
}

/* footer  */
.footer-contact {
  background: var(--mainBlack);
  color: var(--mainPink);
}
.footer-icon {
  font-size: 1.5rem;
  color: var(--mainMaize);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.footer-icon:hover {
  color: var(--mainPink);
}

.footer-icon0 {
  color: var(--mainViolet);
  transition: all 0.4s ease-in-out;
}
.footer-icon0:hover {
  color: var(--mainGrey);
}

/* cart */
.cart {
  position: absolute;
  min-height: 10rem;
  background: rgba(255, 255, 255, 0.85);
  top: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  width: 0;
}
.show-cart {
  padding: 0.5rem;
  width: 18rem;
  transform: rotateY(-360deg);
}

#item-img {
  margin-left: 1rem;
}

.cart-item {
  transition: all 2s ease-in-out;
}

.cart-item-remove {
  color: var(--mainGrey);
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
  color: red;
  transform: scale(1.3);
}

.cart-item-price {
  font-size: 0.8rem;
}
