:root {
  --mainGoldCrayola: #dbc184;
  --mainViolet: #8113b0;
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainBlue: #bdf2e2;
  --mainMaize: #facd64;
  --mainGrey: rgb(238, 238, 238);
}

body {
  /* font-family: "Arvo", serif; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Cedarville Cursive", cursive;
  background: var(--mainViolet);
  color: var(--mainBlack);
}

.nav-info {
  font-family: "Montserrat", sans-serif;
}

/* #skills {
    padding: 200px 0 !important; 
} */

/* use !important to overwrite premade in bootstrap (py-5) */

#logo {
  -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
  filter: invert(1);
}
